<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">Your Request Not Found</h1>
        <hr />
        <a class="btn btn-outline-success float-md-none" asp-controller="Movie" asp-action="Index">Home Page</a>
    </div>
</div>